---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/search?app_id=<edamam_app_id>&app_key=<edemam_api_key>&q=ewiagoiewagoinoawegin
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: '{"q":"ewiagoiewagoinoawegin","from":0,"to":10,"more":false,"count":0,"hits":[]}'
  recorded_at: Wed, 16 Nov 2022 15:40:32 GMT
recorded_with: VCR 6.1.0
